*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    justify-content: space-between;
    height: 3rem;
    background-color: #2c3e50;
    color: white;
}
.col-sm-10{
    background-color: aqua;
    height: 10rem;
}
.cont1, .cont3{
    background-color: #1abc9c;
}
.cont2{
    text-align: center;
}
.cont4{
    text-align: center;
}
.cont5{
    background-color: #3a546d;
    text-align: center;
    color: white;
}
.card{
    height: 20rem;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
}