*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #2c3e50;
}
nav .container-fluid{
    width: 1100px;
}
.horline{
    width: 25%;
    height: .2rem;
    background-color: white;
    display: inline-block;
    border-radius: .2rem;
    vertical-align: middle;
}
.col-sm-10{
    background-color: aqua;
    height: 10rem;
}
.jumbatron, .row3, .btn-4{
    background-color: #1abc9c !important;
    padding: 1rem 0;
}
.row3{
    padding: 3rem 25%;
}
.btn-3{
    width: 8rem !important;
    border: 1px solid white !important;
}
.row4{
    background-color: black;
}
.row5{
    padding: 3rem 15%;
}
.row5{
    background-color: #3a546d;
    text-align: center;
    color: white;
}
.socials{
    padding: 0 5.3rem !important;
}
.social{
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
}
.row5 a{
    text-decoration: none;
    color:#1abc9c ;
}
footer{
    background-color: #2c3e50;
    color: white;
    text-align: center;
}
@media screen and (min-width:992px) {
    .cards{
        width: 70%;
    }
}
/* Form */
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 630px;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}
.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 55px;
}
.cut-long{
    width: 70px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #1abc9c;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #19816c;
}
